page-ask-question {
  .scroll-content {
    background-color: #585555;
    opacity: 1;
  }
  .modalWrapper {
    // text-align: center;
    width: 95%;
    display: block;
    margin: 3rem auto 0;
    background: #fff;
      .content {
        padding: 1rem;
      }
      h3 {
        color: #151515;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
        margin: 1rem 0 2rem;
      }
      ion-textarea {
        width: 100%;
        display: block;
        height: 30vh;
        border: 1px solid rgba(222, 222, 222, .5);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3rem;
        color: rgb(121, 121, 121);
        margin-bottom: 3rem;
      }
      .item-block {
        border: 1px solid rgba(222, 222, 222, .5);
        margin-bottom: 1rem;
          &:last-child {
            border: none;
          }
      }
      .checkbox-md {
        margin: 9px 12px 9px -15px !important;
      }
      ion-label {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        color: rgb(121, 121, 121);
      }
      .item-inner {
        border-bottom: none !important;
      }
      .button {
        background: #364F6B;
        box-shadow: none;
        margin: 0;
        border-radius: 5rem;
        margin: 5rem auto 2rem;
        font-size: 1.2rem;
        width: 55%;
        display: block;
        height: 4.5rem;
      }
      ion-icon {
        display: inline-block;
        font-size: 5rem;
        position: absolute;
        bottom: 1rem;
        padding: 1rem 2rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        color: #fff;
      }
  }
}
