page-login {
    .scroll-content {
      background: #FC5185;
    }
    .logo {
      width: 80%;
      display: block;
      margin: 3rem auto;
      text-align: center;
        img {
          width: 100%;
        }
        p {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 1.5rem;
          color: #fff;
          margin: 0;
          margin-top: -3.5rem;
        }
    }
    .loginBtns {
      width: 80%;
      display: block;
      margin: 10rem auto 0;
      text-align: center;
        .button {
          border: none;
          box-shadow: none;
          border-radius: 0;
          width: 95%;
          height: 5rem;
          margin-bottom: 1.2rem;
          position: relative;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
            &:nth-child(1) {
              background: #3B5998;
              color: #fff;
            }
            &:nth-child(2) {
              background: #0077B5;
            }
            &:nth-child(3) {
              background: #fff;
              color: rgb(73, 73, 73);
                ion-icon {
                  color: #F34A38;
                }
            }
            &:nth-child(4) {
              background: #fff;
              color: rgb(73, 73, 73);
            }
            ion-icon {
              position: absolute;
              top: 17%;
              left: 1rem;
              font-size: 3.5rem;
            }
        }
    }
    ion-footer {
       .button {
         width: 100%;
         display: block;
         height: 5.5rem;
         border: none;
         box-shadow: none;
         margin: 0;
         border-radius: 0;
         background: #fff;
         color: #000000;
       }
    }
}
