page-register {
    .scroll-content {
      background: #F2F2F2;
    }
    .loginBtns {
      width: 80%;
      display: block;
      margin: 5rem auto 0;
      text-align: center;
        .button {
          border: none;
          box-shadow: none;
          border-radius: 0;
          width: 95%;
          height: 5rem;
          margin-bottom: 1.2rem;
          position: relative;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
            &:nth-child(1) {
              background: #3B5998;
              color: #fff;
            }
            &:nth-child(2) {
              background: #fff;
              color: rgb(73, 73, 73);
              border: 1px solid rgb(223, 223, 223);
                ion-icon {
                  color: #F34A38;
                }
            }
            &:nth-child(3) {
              background: #fff;
              color: rgb(73, 73, 73);
              border: 1px solid rgb(223, 223, 223);
            }
            ion-icon {
              position: absolute;
              top: 17%;
              left: 1rem;
              font-size: 3.5rem;
            }
        }
    }
    ion-footer {
        .button {
          width: 100%;
          display: block;
          height: 5.5rem;
          border: none;
          box-shadow: none;
          margin: 0;
          border-radius: 0;
          background: #fff;
          color: #000000;
        }
    }
    .footer-md::before {
      background-image: none;
    }
}
