@font-face {
  font-family: "custom-icons-custom";
  src: url('../assets/fonts/custom-icons-custom.eot');
  src: url('../assets/fonts/custom-icons-custom.eot?#iefix') format('eot'),
  url('../assets/fonts/custom-icons-custom.woff2') format('woff2'),
  url('../assets/fonts/custom-icons-custom.woff') format('woff'),
  url('../assets/fonts/custom-icons-custom.ttf') format('truetype'),
  url('../assets/fonts/custom-icons-custom.svg#custom-icons-custom') format('svg');
}

%custom {
  font-family: "custom-icons-custom";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

@function custom-char($filename) {
  $char: "";
  
    @if $filename == bookmark {
      $char: "\EA01";
    }
  
    @if $filename == comment {
      $char: "\EA02";
    }
  
    @if $filename == open-book {
      $char: "\EA03";
    }
  
    @if $filename == user {
      $char: "\EA04";
    }
  
  @return $char;
}

@mixin custom($filename) {
  &:before {
    @extend %custom;
    content: custom-char($filename);
  }
}


  custom-icon.set-custom.icon-bookmark {
    @include custom(bookmark);
  }

  custom-icon.set-custom.icon-comment {
    @include custom(comment);
  }

  custom-icon.set-custom.icon-open-book {
    @include custom(open-book);
  }

  custom-icon.set-custom.icon-user {
    @include custom(user);
  }

