page-first-time-options {
  .scroll-content {
    background: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        opacity: .8;
      }
      .options {
        margin-top: 3rem;
      }
      .item-block {
        background: transparent;
      }
      .item.item-md .checkbox-md {
        margin: 9px 20px 9px 4px;
      }
      .item-md.item-block .item-inner {
        border-bottom: none;
      }
  }
}
