<ion-content>
  <div class="profile">
    <div class="info">
      <img src="assets/img/user-photo.png" *ngIf="!user?.photo" tappable (click)="changePhoto()">
      <img src="{{ user?.photo }}" *ngIf="user?.photo" tappable (click)="changePhoto()">
      <h3>{{ user?.name }}</h3>
      <p>{{ user?.email }}</p>
    </div>
  </div>

  <div class="options">
    <ion-list>
      <button ion-item (click)="changePassword()" *ngIf="user?.social === 0">
        Change Password
        <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      </button>
      <button ion-item (click)="myQuestions()">
        My Activity
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <button ion-item (click)="topics()">
        Topics You Follow
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <button ion-item (click)="beExpert()">
        Become an expert
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <button ion-item (click)="coverRisk()">
        Cover Your Risks
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <button ion-item (click)="about()">
        About AskInsurpedia
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <button ion-item (click)="logOut()">
        Sign Out
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-list>
  </div>
</ion-content>
