page-user-profile {
  .scroll-content {
    background: #E5E5E5;
  }
  .profile {
    width: 100%;
    display: block;
    background: transparent;
    margin-bottom: 0.5rem;
    position: relative;
    border-bottom: 1px solid rgb(222, 222, 222);
      .info {
        width: 55%;
        display: block;
        margin: 0rem auto;
        text-align: center;
        padding: 2rem 0rem 2rem;
          img {
            width: 11rem;
            height: 11rem;
            border-radius: 15rem;
            display: block;
            margin: 0 auto;
          }
          h3 {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 1rem 0 0.4rem;
            color: #0D0C0C;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.4rem;
            margin: 0;
            color: #151515;
            opacity: .35;
          }
      }
  }
  .details {
      h4 {
        font-family: 'Song Myung', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 10px;
      }
      ul {
          li {
            font-family: 'Song Myung', sans-serif;
            font-size: 1.3rem;
            margin-bottom: 5px;
          }
      }
      .txt {
        padding: 1px 10px;
        font-family: 'Song Myung', sans-serif;
        font-size: 1.3rem;
      }
  }
}
