// rich-text {
//     [contenteditable=true] {
// 			-webkit-user-select: auto !important;
// 			padding: 8px;
// 			overflow-x: scroll;
// 			overflow-y: auto;
// 			word-wrap: normal;
// 			height: 40vh;
// 			font-family: 'Raleway',sans-serif;
//     	font-size: 15px;
// 				img {
// 						padding-left: 2px;
// 						max-width: 95%;
// 				}
// 			background-color: #fff;
// 			position: relative;
// 			z-index: 5;
// 			top: 1px;
// 				&:empty:before {
// 						content: attr(data-placeholder-text);
// 						display: block;
// 						color: #0c0c0c;
// 						font-weight: normal;
// 				}
//     }
//     div.decorator {
// 			background: #fafafa;
// 			border-top: 1px solid #dedede;
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;
// 			width: 100%;
// 			display: block;
// 			text-align: left;
// 			padding: 5px;
// 				button {
// 					background: transparent;
// 					color: #fff;
// 					font-size: 1.1em;
// 					padding: 9px 0px;
// 						img {
// 							width: 60%;
// 						}
// 				}
//     }
// }
rich-text {
	[contenteditable=true] {
			-webkit-user-select: auto !important;
			padding: 9px;
			margin: 2px;
			overflow-x: scroll;
			overflow-y: auto;
			word-wrap: normal;
			height: 40vh;
			img {
					padding-left: 2px;
					max-width: 95%;
			}
			background-color: #fff;
			&:empty:before {
					content: attr(data-placeholder-text);
					display: block;
					color: lightgrey;
					font-weight: bold;
			}
	}
	div.decorator {
			background: #444;
			margin: 5px 1px 5px 1px;
			text-align: center;
			button {
					background: #444;
					color: #fff;
					font-size: 1.1em;
					height: 35px;
					min-width: 30px;
					padding-left: 1px;
					padding-right: 1px;
			}
	}
}