// App Global Sass
// --------------------------------------------------

// .toolbar {
//   padding-top: 30px !important;
// }
// .scroll-content {
//   // margin-top: 69px !important;
// }
// .modal-wrapper .scroll-content {
//   // margin-top: 0px !important;
// }
.toolbar-background {
  background: #FC5185;
}
.toolbar-title, .bar-button {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
    img {
      width: 40%;
      display: block;
      margin-left: 40%;
    }
}
.bar-button {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: initial;
    ion-icon {
      margin-right: 0.3rem;
    }
}

.checkbox-md .checkbox-checked {
  border-color: #fc5185;
  background-color: #fc5185;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #fc5185;
}
.footer-md::before {
  background-image: none;
  border-top: 1px solid rgba(252, 81, 133, .8);
}

.no-content {
  display: block;
  width: 100%;
  padding: 2rem;
  text-align: center;
    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.6rem;
      color: rgb(31, 30, 30);
    }
}