page-questions {
  .questions {
    .question {
      border-bottom: 1px solid rgba(229, 229, 229, .4);
      padding: 1rem 1.5rem;
      margin-top: 1rem;
        .top {
            p {
              color: #989898;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 1.1rem;
              margin: 0;
                span {
                  display: inline-block;
                  margin-left: 2%;
                }
            }
        }
        h2 {
          font-family: 'Open Sans', sans-serif;
          font-size: 1.8rem;
          font-weight: 700;
          margin: 0.8rem 0rem 0rem;
          line-height: 2.3rem;
        }
        .tags {
          width: 100%;
          display: block;
          padding: 2px 0px;
            .tag {
              background: #f5f5f5;
              display: inline-block;
              padding: 4px;
                span {
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 10px;
                  color: #ababab;
                  padding: 5px;
                }
            }
        }
        .button {
          background: #D8D8D8;
          box-shadow: none;
          border: none;
          border-radius: 0px;
          width: 9rem;
          height: 2.4rem;
          text-transform: capitalize;
          border: 1px solid rgba(149, 152, 154, .3);
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 1.3rem;
          color: rgba(31, 31, 31, .6);
          margin-top: 1rem;
            ion-icon {
              font-size: 1.2rem;
              margin-right: 10px;
              color: rgba(0, 0, 0, .4);
            }
        }
    }
}
}
