page-comment {
    .top {
      width: 100%;
      display: block;
      height: 5rem;
      padding-top: 5px;
      border-bottom: 1px solid rgba(206, 206, 206, .6);
      position: relative;
        ion-icon {
          color: rgb(121, 11, 11);
          font-size: 2.5rem;
          padding: 7px 15px;
        }
        h4 {
          display: inline-block;
          font-family: 'Song Myung', sans-serif;
          font-size: 1.4rem;
          color: rgb(163, 163, 163);
          margin: 0;
          width: 64%;
          text-align: center;
          position: relative;
          top: -4px;
          left: 0%;
        }
        .button {
          font-family: 'Song Myung', sans-serif;
          color: rgb(121, 11, 11);
          text-transform: initial;
          padding: 10px 15px;
          height: auto;
          border-radius: 0px;
          position: relative;
          top: -8px;
        }
    }
    .txt {
        h4 {
          font-family: 'Song Myung', sans-serif;
          font-size: 1.8rem;
          font-weight: 600;
          color: #000;
          padding: 10px;
          margin: 0;
          border-bottom: 1px solid #efefef;
        }
    }
}
